<div class="pizza-form">
  <form clrForm [formGroup]="form">
    <div class="pizza-form-actions">
      <button
        type="button"
        class="btn btn-primary"
        *ngIf="!exists"
        (click)="createPizza(form)"
        [disabled]="form.invalid"
      >
        Create Pizza
      </button>

      <button
        type="button"
        class="btn btn-primary"
        *ngIf="exists"
        (click)="updatePizza(form)"
        [disabled]="form.invalid"
      >
        Save changes
      </button>

      <button
        type="button"
        class="btn btn-warning"
        *ngIf="exists"
        (click)="removePizza(form)"
      >
        Delete Pizza
      </button>
    </div>
    <clr-input-container class="pizza-form-container">
      <label for="name">Pizza name</label>
      <input
        clrInput
        type="text"
        formControlName="name"
        name="name"
        placeholder="e.g. Pepperoni"
        class="pizza-form-input"
        required
        autocomplete="off"
      />
      <clr-control-error class="error"
        >Pizza must have a name</clr-control-error
      >
    </clr-input-container>
    <ng-content></ng-content>
    <clr-main-container class="pizza-form-container">
      <label>Select toppings</label>
      <div class="pizza-form-list">
        <rd-pizza-pizza-toppings
          [toppings]="toppings"
          formControlName="toppings"
        >
        </rd-pizza-pizza-toppings>
      </div>
    </clr-main-container>
  </form>
</div>
